@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(180, 161, 161);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%; 
	margin: 0 auto;
}

header {
  background-color: #3a4b45;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

#vis {
  border:1px solid black;
  box-shadow: 10px 10px 5px rgb(102, 102, 102);
}

#vis2 {
  border:1px solid black;
  box-shadow: 10px 10px 5px rgb(102, 102, 102);
}

img {
  width: 150px;
}

.bigbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.IntroBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0px;
  width: 590px;
}

.TextBox {
  display: flex;
  flex-direction: column;
  align-content: center;  
  justify-content: center;
}

.MainBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.WidthBox {
  width: 100px;
}

#padda {
  padding-top: 50px;
}

.underrubrik {
  color: white;
}

